@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Base */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.none {
    display: none !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */

.header {
    position: relative;
    background: #000 linear-gradient(158deg, #2f2f2f 0%, #202020 100%);
    color: #fff;
    overflow: hidden;

    padding-top: 80px;
    padding-bottom: 80px;

    border-bottom-right-radius: 100px;
}

.header .container {
    position: relative;
    z-index: 9;
}

.header-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom-right-radius: 100px;

    opacity: 0.3;
}

.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px;
}

.header-img {
    border-radius: 80px;
}

.header-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
}

.header-text {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
}

.header-btns {
    display: flex;
    column-gap: 20px;
}

.btn {
    border-radius: 8px;
    height: 48px;
    padding: 16px 24px;

    color: #fff;
    line-height: 1;

    background-color: #000000;

    transition: all 0.2s ease-in;
    
}

.btn:hover {
    background-color: #1782CF;
}

.btn-outline {
    height: 48px;
    padding: 16px 24px;
    
    border-radius: 8px;
    border: 1px solid #3B3B3B;

    color: #fff;
    line-height: 1;

    transition: all 0.2s ease-in;
}

.btn-outline:hover {
    border-color: #1782CF;
}

/* Porfolio */

.portfolio {
    padding: 80px 0px;
}

.portfolio-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    align-items: center;
}

.project {
    text-align: center;
}

.project-img {
    margin-bottom: 30px;
    border-radius: 30px;

    transition: opacity 0.2s ease-in;
}

.project-img:hover {
    opacity: 0.9;
}

.project-title {
    font-size: 22px;
}

.project-title a {
    color: #000000;
    text-decoration: underline;
}

/* Contacts */

.contacts {
    background: #252525 linear-gradient(158deg, #2f2f2f 0%, #202020 100%);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top-left-radius: 100px;
    
}

.contacts-title {
    font-size: 52px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 65px;
}

.messangers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.messanger {
    flex-grow: 1;

    display: flex;
    column-gap: 15px;
    align-items: center;
    
    border-radius: 20px;
    border: 1px solid #363636;

    padding: 46px 45px;


    font-size: 16px;
    color: #fff;

    transition: background-color 0.2s ease-in;
}

.messanger:hover {
    background-color: #1E1E1E;
}

/* Footer */

.footer {
    background-color: #1E1E1E;
    padding: 30px 0px;

    color: #5D5D5D;
}

.footer a {
    color: #5886A8;
}

.footer-inner {
    font-size: 14px;
    text-align: center;
}

.footer-inner p + p {
    margin-top: 15px;
}

/* inner-page */

.inner-page {
    padding: 80px 40px;
}

.inner-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}

.innet-page-title {
    font-size: 52px;
    font-weight: 700;
}

.inner-page-text {
    max-width: 570px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;

    color: #555555;
    line-height: 1.5;
}

.inner-page-link {
    color: #000000;

}

.inner-page-link a {
 color: #000000;
 text-decoration: underline;
}

.inner-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.inner-page-backlink {
    max-width: 770px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    color: #000000;
    background-color: #F1F1F1;

    transition: all 0.2s ease-in;
}

.inner-page-backlink:hover {
    background-color: #e4e4e4;
}

/* travel-page */

.travel-page {
    padding: 80px 40px;
}

.travel-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}

.travel-page-title {
font-size: 52px;
font-weight: 700;
}

.travel-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    color: #555555;
    line-height: 1.5;
}

.travel-page-link {
    color: #000000;
}

.travel-page-link a {
    color: #000000;
    text-decoration: underline;
}

.travel-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.travel-page-backlink {
    max-width: 770px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    color: #000000;
    background-color: #F1F1F1;

    transition: all 0.2 ease-in;
}

.travel-page-backlink:hover {
    background-color: #e4e4e4;
}
/* Home-page */

.home-page {
    padding: 80px 40px;
}

.home-page-details {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}

.home-page-title {
font-size: 52px;
font-weight: 700;
}

.home-page-text {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    color: #555555;
    line-height: 1.5;
}

.home-page-link {
    color: #000000;
}

.home-page-link a {
    color: #000000;
    text-decoration: underline;
}

.home-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.home-page-backlink {
    max-width: 770px;
    padding: 30px;
    margin: 0 auto;
    text-align: center;

    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;

    color: #000000;
    background-color: #F1F1F1;

    transition: all 0.2 ease-in;
}

.home-page-backlink:hover {
    background-color: #e4e4e4;
}

