@media (max-width: 1080px) {
    .header-row {
        column-gap: 30px;
    }

    .header-img {
        width: 300px;
        border-radius: 30px;
    }

    .header-title {
        font-size: 52px;
    }

    .header-text {
        font-size: 22px;
    }


    .portfolio-title {
        font-size: 42px;
    }

    .contacts-title {
        font-size: 42px;
    }

    .innet-page-title {
        font-size: 42px;
    }
    .travel-page-title {
        font-size: 42px;
    }
    .home-page-title {
        font-size: 42px;
    }
}

@media (max-width: 767px) {

    .header {
        padding-top: 20px;
        padding-bottom: 40px;
        border-bottom-right-radius: 60px;
    }

    .header-video {
        border-bottom-right-radius: 60px;
    }

    .header-row {
        align-items: flex-start;
        row-gap: 20px;
        flex-direction: column;
    }

    .header-img {
        width: auto;
        max-width: 100%;
    }

    .header-title{
        font-size: 32px;
    }

    .header-text {
        font-size: 18px;
    }

    .btn,.btn-outline {
        height: 42px;
        padding: 12px 15px;
    }

    /*Portfolio*/

    .portfolio {
    padding: 40px 0px;
    }

    .portfolio-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .projects {
        row-gap: 30px;
    }

    .project-img {
        margin-bottom: 20px;
        border-radius: 14px;
    }

    .project-title {
        font-size: 16px;
    }

    /*Contacts*/

    .contacts {
        padding: 40px 0;
        border-top-left-radius: 60px;
        
    }

    .contacts-title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .messangers {
        gap: 20px;
    }

    .messanger {
        border-radius: 12px;
        padding: 32px 20px;
        font-size: 16px;
    }

    /* Footer */

    .footer-inner {
        font-size: 12px;
    }


    /* INNER PAGE */

    .innet-page {
        padding: 40px 0;
    }

    .innet-page-title{
        margin-bottom: 20px;
        font-size: 28px;
    }

    .inner-page-details {
        row-gap: 20px;
        margin-bottom: 20px;
    }

    .inner-page-text {
        row-gap: 20px;
    }

    .inner-page-img {
        margin-bottom: 20px;
    }

    
    .inner-page-backlink {
        padding: 20px;
    }



}